<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NOTIFICAÇÕES CRITICAS PULSEWAY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">NOTIFICAÇÕES CRITICAS PULSEWAY</h1>
        <strong class="mb-4">Notificações</strong>

        <ul class="list-group">
            {% for notification in critical %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ notification }}
                    <form method="POST" action="/remove_item">
                        <input type="hidden" name="notification_id" value="{{ notification.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
